.RecipesDesign {
  height: -20vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mealAndButtonDesign {
  display: flex;
  flex-direction: row-reverse;
  text-align: justify;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: stretch;
  margin-bottom: 16px;
}

.buttonDesign {
  background-color: #8aa94d !important;
  border-color: green;
  margin-right: 12px;
  position: relative;
}
