.newRecipieDesign {
  display: flex !important;
  flex-direction: column !important;
  width: 60% !important;
  margin-left: 10% !important;
  margin-top: 10% !important;
}
.groupsDesign {
  margin-bottom: 5%;
}

.buttonTooDesign {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}

.buttonOnly {
  margin-top: 5%;
}
