.mealImage {
  height: 8em;
  width: 8em;
}
.mealAndText {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.mealAndText > div {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
  margin-left: 4%;
}
